<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- constructor-arg : busca el constructor sobrecargado de la clase -->
	<bean id="address"
		class="org.sistema.spring.dependencyInjection.models.Address">

		<constructor-arg name="id" value="1" />
		<constructor-arg name="street" value="Miguel Hidalgo" />
	</bean>

	<bean id="person"
		class="org.sistema.spring.dependencyInjection.models.Person">
		<constructor-arg name="id" value="1" />
		<constructor-arg name="name" value="Luis" />
		<constructor-arg name="address" ref="address"/>
	</bean>


</beans>
